<!DOCTYPE html>
<html lang="es">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" 
              content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/mapa.css">
        <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqHbqBdi02O7RkIsu75B89vjsRO2lEbl4">
        </script>
        <style></style>
    </head>
    <body>
        <div id="floating-panel">
        </div>
        <div id="map"></div>
        <script 
            src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/mapa.js"></script>
    </body>
</html>
