/* 
    Created on : 03-may-2017, 8:23:20
    Author     : Edward Luna Noriega
*/
#map {
    height: 100%
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position:absolute;
    left:10px;
    top: 10px;
    z-index:3;
}